.container {
  position: absolute;
  margin-top: 5%;
  left: 10%;
}

h1 {
  margin-top: 2em;
}

.row {
  margin-top: 2em;
}

.notes {
  margin-top: 2em;
}

textarea {
  min-height: 10em;
}

mat-form-field {
  min-width: 50vw;
}

#delete {
  float: right;
}
