

mat-card {
  margin-bottom: 2%;
  min-width: 400px;
}

p
{
  font-size: 1vw;
}

img {
  width: 5vw;

}

.books {
  height: 40vh;
  overflow: auto;
}

.books::-webkit-scrollbar {
  display: none;
}

.search-add-button {
  width: 2vw;
}

.buttons {
  margin-top: 10%;
}

