h2 {
  font-family: fantasy;
}

img {
  width: 7vw;
}

.main {

}

.info {
  height: 70vh;
  min-width: 20vw;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 20px;
}

.book-info {
  font-size: 1.5vw;
  margin-bottom: 20%;
}

.tac {
  margin-left: 10%;
}

.container-fluid {
  position: absolute;
  top:15%;

  width: 90vw;
  min-width: 90vw;
}

.current {
  margin-bottom: 5%;
}



div {
  color: black;
}

.buttons {
  margin-left: 5%;
}

mat-card {

}
